<h1>Pages#about</h1>

<hr>

<div class='row'>
  <div class="col-md-4">
    <%= image_tag "weddingphoto2.PNG", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>
      Lorem ipsum etc.
    </p>
    <p>
      Lorem ipsum etc.
    </p>
  </div>
</div>
